@using LibraryWebApplication.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About;
    ViewBag.Title = L("About");
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("About")</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Inner Page Banner -->
                        <div class="page-content d-flex justify-content-between container">
                            <div class="content" style="flex:1">
                                <h1 style="text-align:justify">INFORMATION</h1>

                                <h1 style="text-align:justify">WELCOME TO NEPAL LIFE INSURANCE COMPANY LIMITED</h1>

                                <p style="text-align:justify">Nepal Life, established under the Company Act 2053 and Insurance Act 2049 as a public limited company on 2058/01/21 (04/05/2001). Nepal Life is the foremost life insurance company established by private investors. The promoters of the company are a group of well known businessmen and business houses of Nepal. Within the twenty one years of operation the Company has set up an excellent business record and has a strong financial position.&nbsp;</p>

                                <p>The company has an authorized capital of Rs.1,000 Crore and Paid-up Capital of Rs. 820.79 Crore. As on Jestha 2079, the company has issued&nbsp;15,22,481 conventional policies having total premium income of Rs.17,707 Crore and 15,35,335 Foreign Expatriate policies having premium income of Rs.416.98&nbsp;Crore. Out of the total premium collected, the company has invested Rs.13,882.46&nbsp;Crore as per guidelines of Beema Samiti. The company has insured itself with well-known reinsurance companies&nbsp;"Hannover Re Life Reinsurance Company", Germany and "Nepal Reinsurance Company Ltd", Nepal.</p>

                                <h1 style="text-align:justify">VISION AND MISSION</h1>

                                <p style="text-align:justify">To endeavor through the noble institution of Life Insurance in making every family economically safe and secure whereby every citizen of Nepal may contribute his might in building a healthy, prosperous, strong &amp; Vibrant Nation.</p>

                                <p style="text-align:justify">To cater to financial and Social needs of every segment of society by designing differentiated and innovative insurance instruments. To provide after sales service to customers that can be hailed as the best.</p>

                                <h1 style="text-align:justify">HOW NEPALLIFE IS DIFFERENT FROM OTHERS?</h1>

                                <p style="text-align:justify">Being in the business of selling life insurance products it is performing the same job as the other insurers dealing with "Life Insurance". However, Nepal Life Insurance Company has its own identity because of the mission and manner for which it is working. The company is working with a time bound strategy to fulfill it's vision of spreading message of insurance to every home and to contribute substantially in making Nepal an economically healthy and vibrant nation. Apart from spreading the network of branches all over Nepal the company plans to make a quantum jump in number of agents and to provide them adequate training for providing knowledge and skill, so that the company can reach and depth in the market.</p>

                                <p style="text-align:justify">The company is focusing on providing qualitative services of International Standard. Our ambition is to provide across the counter services in all its operations.</p>

                                <p style="text-align:justify">This ambition cannot be fulfilled without the help of information technology. The company has strong IT infrastructure. All Branches of NepalLife has been connected through wide area networking to provide better customers service.</p>
                            </div>
                        </div>


                        <!-- Sections -->
                        <!-- /Sections -->


                        <link rel="stylesheet" href="/css/owl_carousel.min.css">


                        <script src="/js/owl_carousel.min.js"></script>

                        <script>
                            $(document).ready(function () {

                                $('.layout-slider').owlCarousel({
                                    loop: true,
                                    margin: 10,
                                    responsiveClass: true,
                                    responsive: {
                                        0: {
                                            items: 2,
                                            nav: true
                                        },
                                        600: {
                                            items: 2,
                                            nav: true
                                        },
                                        1000: {
                                            items: 4,
                                            nav: true,
                                            margin: 20
                                        }
                                    }
                                });

                                $("#pageSection img[src*=img-not-found]").parent().hide();
                                $("#pageSection img[src*=img-not-found]").parent().parent().find('.text').addClass('fullCol');
                            })
                        </script>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

